<!--The content below is only a placeholder and can be replaced.-->
<html>
  <head>

  </head>
  <body>
    <div>
    <h3>DATABINDING</h3>
    

    <h3>USER INTERFACE TYPE</h3>
    FISRTNAME: <input type="text" [(ngModel)]="firstname"><br>
    LASTNAME: <input type="text" [(ngModel)]="lastname"><br>
    AGE:<input type="text" [(ngModel)]="age"><br>
    CLASS: <input type="text" [(ngModel)]="class"><br>
    SMOKES: <input type="radio" [(ngModel)]="smokes"><br>
    GENDER:
    <input type="radio" [(ngModel)]="gender" value="MALE">MALE
    <input type="radio" [(ngModel)]="gender" value="FEMALE">FEMALE
    <input type="radio" [(ngModel)]="gender" value="OTHER">OTHER
    <br>
    ATTITUDE:
    <input type="radio" [(ngModel)]="attitude" value="ABUSIVE">YES
    <input type="radio" [(ngModel)]="attitude" value="NON ABUSIVE">NO
    <br>
    <input type="button" value="click n" (click)="changeData()">
    <br>
    </div>
    
    <router-outlet></router-outlet>
   </body>
</html>

